.btn {
  display: inline-block;
  padding: 1rem;
  border-radius: 5%;
  background-color: lightblue;
}
.btn__primary {
  background-color: lightblue;
}
.btn__secondary {
  background-color: pink;
}
.btn:hover {
  font-weight: bold;
}
