@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.card,
.card--more-details {
  border: 5px solid #03256c;
  border-radius: 5px;
  background-color: #e8fbfe;
  color: #2541b2;
  font-family: "Poppins", sans-serif;
  padding: 10%;
  cursor: pointer;
}
.card--img,
.card--more-details--img {
  margin: 6%;
}
.card--title,
.card--more-details--title {
  font-size: 1.5rem;
}
.card--subtitle,
.card--more-details--subtitle {
  font-size: 1.2rem;
}
.card--body,
.card--more-details--body {
  font-size: 1rem;
}
.card--hide,
.card--more-details--hide {
  display: none;
}
