.grid {
  text-align: center;
  display: grid;
  grid-gap: 3vw;
}
.grid__1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid__2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid__3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid__4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid__5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid__6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid__7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid__8 {
  grid-template-columns: repeat(8, 1fr);
}
