.grid {
  text-align: center;
  display: grid;
  grid-gap: 3vw;
}
@media only screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 577px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1201px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
