.m2 {
  margin: 0.2rem;
}
.m4 {
  margin: 0.4rem;
}
.m6 {
  margin: 0.6rem;
}
.m8 {
  margin: 0.8rem;
}
.m10 {
  margin: 1rem;
}
.m12 {
  margin: 1.2rem;
}
.m14 {
  margin: 1.4rem;
}
.m16 {
  margin: 1.6rem;
}
.m18 {
  margin: 1.8rem;
}
.m20 {
  margin: 2rem;
}
.m22 {
  margin: 2.2rem;
}
