.p2 {
  padding: 0.2rem;
}
.p4 {
  padding: 0.4rem;
}
.p6 {
  padding: 0.6rem;
}
.p8 {
  padding: 0.8rem;
}
.p10 {
  padding: 1rem;
}
.p12 {
  padding: 1.2rem;
}
.p14 {
  padding: 1.4rem;
}
.p16 {
  padding: 1.6rem;
}
.p18 {
  padding: 1.8rem;
}
.p20 {
  padding: 2rem;
}
.p22 {
  padding: 2.2rem;
}
