@use "palette" as palette;

.btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 5%;
    background-color: palette.$c--2;

    &__secondary {
        background-color: palette.$c--3;
    }

    &:hover {
        font-weight: bold;
    }
}
