@use "palette" as palette;

.btn {
    display: inline-block;
    border-radius: 5%;
    background-color: palette.$c--1;

    &__primary {
        color: palette.$c--3;
        background-color: palette.$c--1;
    }

    &__secondary {
        background-color: palette.$c--3;
    }

    &:hover {
        font-weight: bolder;
        cursor: pointer;
    }
}
